@model Dal.Model.LoginViewModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
    <p>User @User.Identity.Name is signed in.</p>
}
else
{
    <p>Senki sincs bejelentkezve</p>
}

<form asp-controller="Account" asp-action="Login" method="post">
    <h4>Login</h4>
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email"></label>
        <div>
            <input asp-for="Email">
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div>
        <label asp-for="Password"></label>
        <div>
            <input asp-for="Password"/>
            <span asp-validation-for="Password"></span>
        </div>
    </div>

    <div>
        <div>
            <button type="submit">Login</button>
        </div>
    </div>
</form>
<p></p>
<a href="/Account/Register">Register</a>
