<h1>Profil</h1>
<form method="post" asp-action="UploadProfilPicture" asp-controller="Profil" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit" value="Upload"/>
</form>