<h1>Menu</h1>
<p>
    <a href="/Game/ChooseQuiz">Play Game</a>
</p>
<p>
    <a href="/AddQuestion/Index">Add Questions</a>
</p>
<p>
    <a href="/Account/Logout">Logout</a>
</p>
<p>
    <a href="/Profil/Index">Profil</a>
</p>