@if (User.Identity.IsAuthenticated)
{
    <p>User @User.Identity.Name is signed in.</p>
} 

<h1>Menu</h1>
<p>
    <a href="/Game/ChooseTheme">Play Game</a>
</p>
<p>
    <a href="/AddQuestion/Index">Add Questions</a>
</p>
<p>
    <form method="post" action="/Account/Logout">
        <button type="submit">Logout</button>
    </form>
</p>