@using Dal;
@model Question

@{
    Layout = "_MenuLayout";
}

    <h1 class="cover-heading">Edit Questions</h1>
    @{
        <h2>@Model.Text</h2>
    }

<div id="body">
    <form id="form" method="post" action="SaveAnswers" class="form-group">
        <div id="firstanswer">
            <input type="text" placeholder="Answer text" name="Answer[0].Text" required />
            <input type="checkbox" class="checkbox" value="true" name="Answer[0].IsGoodAnswer" style="margin-left:0; margin-right:-1px" />
            <button type="button" class="btn btn-lg btn-default" id="remove">Remove</button>
            <input type="text" value="@Model.QuestionId" name="Answer[0].QuestionId" hidden="hidden" id="questionid" />
        </div>
        <p><button type="button" class="btn btn-lg btn-default" id="add">Add New Answer</button></p>
        <p><div id="submitdiv"><button type="submit" class="btn btn-lg btn-default" id="addanswersbutton">Add Answers</button></div></p>
    </form>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/answer.js?@(Web.Startup.TimeStamp)"></script>
</div>