@using Dal.Model;
@model AddQuestionViewModel

<form method="post" action="/AddQuestion/SaveQuestion">
    Quiz:
    <input list="quizlist" name="quiz.Name" placeholder="Write or choose a name of quiz" required>

    <datalist id="quizlist">
        @{
            foreach (var item in Model.Quizs)
            {
                <option value="@item.Name" />
            }
        }
    </datalist>

    <p>
        Question:
        <input type="text" name="question.Text" placeholder="Question text" required />
    </p>

    <p>
        Theme:
        <input list="themelist" name="theme.Name" placeholder="Write or choose a theme" required>
    </p>

    <datalist id="themelist">
        @{
            foreach (var item in Model.Themes)
            {
                <option value="@item.Name" />
            }
        }
    </datalist>

    <p><button>Add Question</button></p>
</form>